@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lope de Vega 14-16<br />
    Barcelona, 08005<br />
    <abbr title="Phone">P:</abbr>
    +34 618 43 24 98
</address>

<address>
    <strong>Support:</strong> <a href="mailto:javier.castillosuazo@gmail.com">javier.castillosuazo@gmail.com</a>
</address>
