@model HJCS.SageAssessment.ClientMVC.Models.ViewModels.InvoiceEdition

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Invoice</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Number" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Number" class="form-control" readonly />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" readonly />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" readonly />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" asp-items="Model.StatusList" class="form-control" ></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Customer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Customer" class="form-control" readonly />
                <span asp-validation-for="Customer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

